---
BasedOnStyle: WebKit
Language: Cpp
ColumnLimit: 120
IncludeBlocks: Preserve
PointerAlignment: Right
BreakBeforeBinaryOperators: None
SpaceInEmptyBlock: false
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
